<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ISearchManager, Sitecore.Commerce.XA.Foundation.Connect">
        <patch:attribute name="implementationType">Sitecore.Support.Commerce.XA.Foundation.CommerceEngine.Managers.SearchManager, Sitecore.Support.40256</patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>